.cordenadas{
    font-weight: bold;
    font-size: 25px;
    color: red;
}

.location1{
    color: red;
}

.location1:hover{
    cursor: pointer;
    color: green;
}


/* POP OUT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    display: none;
    width: 500px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -250px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .user{
      color: greenyellow;
      font-weight: bold;
      font-size: 24px;
      padding-left: 15px;
  }

  #userMessage{
      color: white;
      font-size: 19px;
      font-weight: bold;
      padding-left: 15px;
  }

  .replies{
      padding-bottom: 15px;
      font-size: 15px;
  }

  .replyBox{
      background-color: grey;
      padding-left: 38px;
      height: 200px;
      overflow: scroll;
  }

  #formMap{
      padding-top: 15px;
  }

  .pickIcon{
      color: rgb(54, 148, 143);
  }

  .pickIcon:hover{
    cursor:pointer;
    color: rgb(27, 205, 211);
  }

  .currentIcon{
      color: red;
  }

  .submitted{
      font-weight: bold; 
      font-size: 40px;
      color: black;  
  }

  #jiji{
      height: 100px;
      width: 100px;
  }